

 h1 {
  margin: 0;
  padding: 0;
}
html, body, .app {
  margin: 0;
  padding: 0;
  position: relative;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 9;
}
.popup_inner {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 30px;
  bottom: 100px;
  margin: auto;
}


.button1{
display:inline-block;
padding: 5px 10px;
border:1px solid black;
border-radius:  7px;
box-sizing: border-box;
text-decoration:none;
font: 'poppins';
font-weight: bold;
color:black;
text-align:center;
transition: all 0.2s;
background-color: white;
transition-duration: 250ms;
}
.button1:hover{
color: white;
background-color:#EF6C00;
border:1px solid #EF6C00;
cursor: pointer;
transition-duration: 250ms;
}


.button1:disabled {
   opacity: 0.5;
}

.button1:disabled:hover{
  opacity: 0.5;
  background-color: white;
  color:black;
  border:1px solid black;
  cursor: unset;
}


.uploadBut{
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  object-fit: cover;
}

  
